$light-gray: rgb(230,230,230);
$translucent-gray: rgba(136,136,136, .3);

$standard-border: 0.0625rem solid $light-gray;

%center-logo {
  display: flex;
  align-items: center;
}

.App-header {
  @extend %center-logo;
  height: 4.875rem;
  border-bottom: $standard-border;
}

.hipcamp-logo {
  padding-left: 1.25rem;
  width: 12.25rem;
}

.App-footer {
 @extend %center-logo;
 justify-content: center;
 height: 3.875rem;
 border-top: $standard-border;
 position:fixed;
 bottom:0;
 left:0;
 width: 100%;
}

.github-logo {
  width: 3rem;
}

.App-body {
  padding-top: 1rem;
  padding-left: 3rem;
}

.features {
  list-style-type: none;
  li {
    padding: .3125rem;
    cursor: pointer;
  }
}

.available {
  color: black;
}

.unavailable {
  color: $translucent-gray;
}

.no-addl-info {
  font-style: italic;
  color: $translucent-gray;
  list-style: none;
}
