.App {
  padding-top: 50px;
  padding-left: 50px;
}

.features {
  list-style-type: none;
}

.features > li {
  padding: 5px;
}

/* when a feature is unavailable i.e. showers are not provided */
.unavailable {
  text-decoration: line-through;
}
