.App {
  padding: 3.125rem 3.125rem;
}

.features {
  list-style-type: none;
}

.features > li {
  padding: .3125rem;
  cursor: pointer;
}


/* when a feature is unavailable
i.e. showers are not provided */
.unavailable {
  color: red;
}

.available {
  color: green;
}

.no-addl-info {
  color: black;
}
